.datepicker-modal {
    overflow-x: hidden;
}

.datepicker-select {
    display: none;
}

.datepicker-date-display {
    background-color: $cor-primaria;
}

.modal-content.datepicker-container {
    height: 30% !important;
}

.datepicker-modal {
    max-width: 670px;
}

.datepicker-container {
    width: 670px !important;
}

.datepicker-controls .select-month input {
    width: 95px !important;
}

.dropdown-content {
    min-width: 137px !important;
}