#setores {
    ul {
        position: relative;
        z-index: 1055;
        width: 239px !important;
        height: 100%;
    }
    .icon {
        display: none;
    }
}

@media(max-width: 920px) {
    #setores {
        .icon {
            display: block;
        }
    }
}