$monte-serrat: 'Montserrat',
sans-serif;
$lato: 'Lato',
sans-serif;
$Cousine: 'Cousine',
monospace;
$bg: #F8FAFC;
$cor-primaria: #007DCC;
// $cor-primaria: #007DCC;
$cor-secundaria: #AECFF8;
$cinza: #f9f9f9;
$branco: #ffffff;
$nao-iniciou: #ffffff;
$aguardando: #FFFF00;
$em_atendimento:#00FF00;
$em_atendimento_em_outro_servico:#0000FF;
$atendido: #FF00FF;
$fastpass: #FF0000;
$cor-aviso: #E82C0C;
$finalizado: #4b0082;
$cancelado: red;