.titulo_agendamento {
    font-size: 21px;
    padding-top: 10px;
}

.status_agendamento {
    margin-top: 4%;
}

.hora_agendamento {
    padding-top: 50%;
}

.com_agendamento {
    padding-top: 10px;
}