.cards {
    background: $branco;
    border-radius: 2px;
    padding-left: 0 !important;
    position: relative;
    height: 280px;
    width: 100%;
    margin-bottom: 40px;
    .imagem-img92 {
        @include imagem-card-setor('../img/ergometria.jpg')
    }
    .imagem-img239 {
        @include imagem-card-setor('../img/cardiopumonar.jpg')
    }
    .imagem-img97 {
        @include imagem-card-setor('../img/mapa.jpg')
    }
    .imagem-img99 {
        @include imagem-card-setor('../img/medicina_nuclear.jpg')
    }
    .imagem-img229 {//aqui
        @include imagem-card-setor('../img/tomografia.jpg')
    }
    .imagem-img81 {
        @include imagem-card-setor('../img/tomografia2.jpg')
    }
    .imagem-img231 {//aqui
        @include imagem-card-setor('../img/ultrassom.jpg')
    }
    .imagem-img955 {
        @include imagem-card-setor('../img/laboratorio.jpg')
    }
    .imagem-img82 {
        @include imagem-card-setor('../img/radiologia.jpg')
    }
    .imagem-img105 {
        @include imagem-card-setor('../img/mamografia.jpg')
    }
    .imagem-img102 {
        @include imagem-card-setor('../img/endoscopia.jpg')
    }
    .imagem-img101 {
        @include imagem-card-setor('../img/setor_aritimias.jpg')
    }
    .imagem-img89{
        @include imagem-card-setor('../img/eletro.jpg')
    }
    .imagem-img84 {
        @include imagem-card-setor('../img/checkup.jpg')
    }
    .imagem-img85 {
        @include imagem-card-setor('../img/banco_de_sangue.jpg')
    }
    .imagem-img87 {
        @include imagem-card-setor('../img/colonoscopia.jpg')
    }
    .imagem-img86 {
        @include imagem-card-setor('../img/ecocardiograma.jpg')
    }
    .c_conteudo_card {
        position: relative;
        left: 26% !important;
        .c_card-title {
            margin-top: 12px;
        }
        p {
            line-height: 0.7;
            font-size: 17px;
            text-align: left !important;
        }
        .c_status {
            line-height: 3;
        }
    }
    a {
        color: #4a4a4a !important;
    }
}

@media(max-width: 920px) {
    .cards {
        height: 260px;
        .c_conteudo_card {
            left: 34% !important;
        }
        .c_conteudo_card {
            p {
                font-size: 13px;
            }
        }
    }
}